
.main-title{
    font-size: 24px;
    font-family: Todokage;
    color: black;
}
@font-face {
    font-family: Todokage;
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">);
}

.link{
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    
    color: black; 
    padding: 10px; 
    text-decoration: none;
}
body{
    font-family: 'Big Shoulders Inline', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('Images/mastercard.avif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; }
    h1{
        font-size: 50px;
       
        margin-top: 2%;
        margin-left: 2%;

    }
    .button{

    padding: 10px;
    box-sizing: border-box;
    border-radius:100px ;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    transition: box-shadow 0.3s ease-in-out; 
}


    
    .button:hover{
        box-shadow: 0px 0px 20px 5px red;
        animation: bounce 1s cubic-bezier(0,1,1,1) infinite
        alternate
    }
    @keyframes bounce{
        100%{
            transform: translatex(0px);
        }
        100%{
            transform: translateY(-10px);
        }
    }
     

